{% extends 'base.html' %}
{% block title %}Admin Search{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center mb-4">Search</h2>
    <form method="GET" action="{{ url_for('admin.admin_search') }}">
        <div class="row justify-content-center">
            <div class="col-md-3">
                <select class="form-select" name="filter_by" required>
                  <option value="">Search By</option>
                  <option value="user_name">User Name</option>
                  <option value="user_email">User Email</option>
                  <option value="user_phone">User Phone</option>
                  <option value="lot_name">Lot Name</option>
                  <option value="lot_address">Lot Address</option>
                  <option value="pin_code">Pin Code (User & Lot)</option>
                </select>

            </div>
            <div class="col-md-4">
                <input type="text" name="query" class="form-control" placeholder="Enter value..." required>
            </div>
            <div class="col-md-2">
                <button type="submit" class="btn btn-primary w-100">Search</button>
            </div>
        </div>
    </form>
    <div class="mt-4">
        <a href="{{ url_for('admin.dashboard_admin') }}" class="btn btn-primary">Back to Dashboard</a>
    </div>
</div>
{% endblock %}

